@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.fourthSection {
  padding: 0 2rem;
}

.secondSectionCardContainer,
.fourthSectionCardContainer {
  padding-top: 3rem;
  display: grid;
  gap: 3rem;
}

.productContainer {
  padding: 0.8rem 0;
}

.thirdSection {
  padding: 10rem 0 4.8rem;
}

.sixthSection {
  padding: 5rem;
  display: grid;
  gap: 5rem;
}

.seventhSection {
  width: 30rem;
  padding: 9rem;
  margin: 0 auto;
  display: grid;
  gap: 8rem;
}

@media all and (min-width: 768px) {
  /* .firstSection {
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  } */

  .seventhSection {
    width: auto;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
  }
}

@media all and (min-width: 1200px) {
  .productContainer {
    padding: 0;
  }

  /* .firstSection {
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    margin: 0 auto;
  } */

  .secondSection,
  .fourthSection {
    padding: 4.8rem 2rem;
    display: grid;
    grid-template-columns: 30rem 1fr;
    gap: 3rem;
    margin: 0 auto;
  }

  .fourthSection {
    grid-template-columns: 1fr 30rem;
  }

  .fourthSection > :first-child {
    order: 1;
  }

  .secondSectionCardContainer {
    padding-top: 0rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .thirdSection {
    margin: 0 auto;
  }

  .sixthSection {
    padding: 5rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
