@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.removeMarginFromContainer {
  margin: 0 !important;
}

.fourColumnGridLayoutAndAbove {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media all and (min-width: 768px) {
  .twoColumnGridLayout,
  .logoColumnGridLayout,
  .customStyleForFooterSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 820px) {
  .customStyleForSixSection {
    justify-items: center;
  }

  .customStyleForFooterSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .logoColumnGridLayout {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (min-width: 1200px) {
  .threeColumnGridLayout {
    grid-template-columns: repeat(3, 1fr);
  }

  .fourColumnGridLayout {
    grid-template-columns: repeat(4, 1fr);
  }

  .logoColumnGridLayout {
    grid-template-columns: repeat(6, 1fr);
  }

  .customStyleForSecondSection {
    grid-template-columns: 30rem 1fr;
    gap: 3rem !important;
    padding-bottom: 10rem !important;
  }

  .customStyleForFourthSection {
    grid-template-columns: 1fr 30rem;
    gap: 3rem !important;
    padding-bottom: 15rem !important;
  }

  .customStyleForFourthSection > :first-child {
    order: 1;
  }

  .customStyleForFooterSection {
    grid-template-columns: repeat(5, 1fr);
  }
}
