:root {
  --orange-bg: hsl(31, 77%, 52%);
  --sea-green: hsl(184, 100%, 22%);
  --dark-green: hsl(179, 100%, 13%);
  --font-family-primary: "Lexend Deca", sans-serif;
  --font-family-secondary: "Big Shoulders Display", cursive;
  --textColor: hsla(0, 0%, 100%, 0.75);
  --headerColor: hsl(0, 0%, 95%);
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: grid;
}

.orange-bg {
  background: var(--orange-bg);
}

.sea-green-bg {
  background: var(--sea-green);
}

.dark-green-bg {
  background: var(--dark-green);
}

.card {
  padding: 4rem 5rem;
}

img {
  margin-bottom: 3.5rem;
}

h2 {
  font-family: var(--font-family-secondary);
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--headerColor);
  margin-bottom: 3rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--textColor);
  margin-bottom: 3rem;
}

button {
  padding: 1.5rem 2rem;
  border-radius: 30px;
  font-family: inherit;
  border: 2px solid #fff;
  background-color: var(--headerColor);
  text-transform: capitalize;
  transition: all 0.2s;
  margin-top: 4rem;
}

.orange-bg button {
  color: var(--orange-bg);
}
.sea-green-bg button {
  color: var(--sea-green);
}
.dark-green-bg button {
  color: var(--dark-green);
}

button:hover {
  background-color: inherit;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    padding: 3rem 4rem;
  }
}
