.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0.2rem 2rem rgb(0, 0, 0, 0.05);
}

.navbarContainer {
  max-width: 120rem;
  padding: 3.4rem;
  background-color: #fff;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.navIcons {
  display: flex;
  gap: 2rem;
}

.navLinksContainer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  flex-direction: column;
  gap: 3rem;
  display: none;
}

.navLinksContainer.open {
  display: flex;
}

.navbarNav {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.navbarNav a:link,
.navbarNav a:visited {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #737373;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.02rem;
  transition: all 0.3s;
}

.navbarNav a:hover,
.navbarNav a:active {
  color: #23a6f0;
}

.navbarNav2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.navbarNav2 button {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background: transparent;
  color: #23a6f0;
}

.navbarNav2 button span {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.loginAndBecomeAMember {
  display: none;
}

/* FOR MINI-TABLETS, TABLET AND DESKTOPS */
@media screen and (min-width: 1024px) {
  .navIcons {
    display: none;
  }

  .loginAndBecomeAMember {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 4.5rem;
  }

  .navbarContainer {
    height: 9.1rem !important;
    margin: 0 auto;
    padding: 3.4rem 1.7rem;
    align-items: center;
  }

  .navLinksContainer {
    display: flex !important;
    position: static;
    flex-direction: row;
    transform: translate(0%, 0%);
    justify-content: space-between;
    gap: 11rem;
  }

  .navbarNav {
    flex-direction: row;
    gap: 1.5rem;
  }

  .navbarNav2 {
    flex-direction: row;
  }

  .navbarNav a:link,
  .navbarNav a:visited,
  .loginAndBecomeAMember a:link,
  .loginAndBecomeAMember a:visited,
  .navbarNav2 button span {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    color: #737373;
    font-style: normal;
  }

  .navbarNav a:hover,
  .navbarNav a:active {
    color: #23a6f0;
  }

  .loginAndBecomeAMember a:link,
  .loginAndBecomeAMember a:visited,
  .navbarNav2 button span {
    color: #23a6f0;
  }

  .userNavIcons {
    height: 1.6rem;
    width: 1.6rem;
  }

  .navbarNav2 li:first-child .userNavIcons {
    height: 1.2rem;
    width: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .navbarContainer {
    padding: 3.4rem 1rem;
  }

  .navLinksContainer {
    gap: 17rem;
  }
}
