.productCardImgBox {
  height: 50.5rem;
}

.productCardImg {
  height: 100%;
}

.productCardInfo {
  padding: 4.8rem 2.4rem;

  display: grid;
  place-items: center;
  gap: 2.5rem;
}

.productCardInfo h5 {
  color: #252b42;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
}

.productCardInfo p {
  width: 28rem;
  color: #737373;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.colorBox {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.color {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}

.color-1 {
  background-color: #23a6f0;
}

.color-2 {
  background-color: #23856d;
}

.color-3 {
  background-color: #e77c40;
}

.color-4 {
  background-color: #252b42;
}

@media screen and (min-width: 912px) {
  .productCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fafafa;
  }

  .productCardImgBox {
    height: 78.4rem;
  }

  .colorBox {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .productCard {
    grid-template-columns: 2fr 1fr;
  }
}
