.productCardImgBox {
  height: 50.5rem;
}

.productCardImg {
  height: 100%;
}

.productCardInfo {
  padding: 4.8rem 2.4rem;

  display: grid;
  place-items: center;
  gap: 2.5rem;
}

.productCardInfo p {
  width: 28rem;
  color: #737373;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 912px) {
  .productCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fafafa;
  }

  .productCardImgBox {
    height: 78.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .productCard {
    grid-template-columns: 2fr 1fr;
  }
}
