.hero {
  position: relative;
  height: 63.8rem;
  display: grid;
  background: url("../../../assets/images/backgroundHeroImg.svg");
  place-items: center;
}

.carouselContentInfo {
  text-align: center;
  display: grid;
  gap: 3rem;
  padding: 0 5rem;
}

.headline {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
  letter-spacing: 0.2rem;
  color: #fff;
}

.hero h4 {
  font-size: 2rem;
  line-height: 1.7;
  letter-spacing: 1.5;
  color: #e3e3e3;
}

.cta {
  display: block;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  justify-self: center;
  color: #fff;
  background-color: #23a6f0;
  border: none;
}

.directionIcon {
  font-size: 6rem;
  color: #fff;

  position: absolute;
  top: 50%;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
