.productCard {
  display: grid;
  gap: 2rem;
}

.productImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.productImg {
  width: 100%;
  margin-right: 10rem;
  height: 100%;
}

@media screen and (min-width: 820px) {
  .productCard {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .productImg {
    margin-right: 0rem;
  }
}

@media screen and (min-width: 1200px) {
  .productCard {
    grid-template-columns: initial;
    gap: 2rem;
  }

  .productImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .productImg {
    width: 100%;
    margin-right: 10rem;
    height: 100%;
  }
}
