.footerHeaderText {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4rem;
}

.textBox {
  display: grid;
  gap: 1.5rem;
}

.textBox h3 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.02rem;
}

.textBox p {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
}

@media screen and (min-width: 1024px) {
  .footerHeaderText {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
