.socialMediaIcons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.facebook,
.instagramLogo,
.twitter,
.youtube {
  height: auto;
  width: 2rem;
}

.facebook {
  color: #335bf5;
}

.instagramLogo {
  color: #ef1f5a;
}

.twitter {
  color: #61a6df;
}

.youtube {
  color: #e42f08;
}
